# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

app/build

##############################
## Gradle
##############################
app/bin/
app/build/
.gradle
desktop.desktop